<article class="product-card @@modif flex --just-space --align-center">
  <div class="product-card__wrapper">
    <img class="product-card__picture" src="img/products/@@picture.link.png" alt="@@picture.alt">
  </div>
  <div class="product-card__inner">
    <h3 class="product-card__title">@@name</h3>
    <p class="product-card__desc">
      @@description
    </p>
    <p class="product-card__components">
      <strong class="product-card__components-title">
        Состав:
      </strong>
      @@components
    </p>
    <div class="product-card__container flex --just-space --align-center">
    <div class="product-card__counter counter">
      <button class="counter__btn" aria-label="Удалить товар">-</button><span class="counter__text">2</span>
      <button class="counter__btn" aria-label="Добавить товар">+</button>
    </div>
    <span class="product-card__volume">@@volume мл.</span>
    <span class="product-card__price">@@price.current руб.</span>
  </div>
    <div class="product-card__container flex --just-space --align-center">
  @@include('../button/_button.html', {
    "class":{
      "bem__elem":"product-card__btn"
    },
    "type": "button",
    "text": "В КОРЗИНУ"
  })
  @@include('../button/_button.html', {
    "class":{
      "bem__elem":"product-card__btn"
    },
    "type": "button",
    "text": "Заказать в Тg"
  })
    </div>
  </div>
</article>