<footer class="footer">
  <div class="footer__wrapper flex --align-center --just-space">
    <div class="footer__logo">
      @@include('../bem-blocks/logo/_logo.html')
    </div>
    @@include('../bem-blocks/menu/_menu.html')
    <ul class="footer__social">
      <li class="footer__social-item">
        <a class="footer__social-link --svg__facebook" href="#" aria-label="Facebook"></a></li>
      <li class="footer__social-item">
        <a class="footer__social-link --svg__instagram" href="#" aria-label="Instagram"></a></li>
      <li class="footer__social-item">
        <a class="footer__social-link --svg__telegram" href="#" aria-label="Telegram"></a></li>
      <li class="footer__social-item">
        <a class="footer__social-link --svg__viber" href="#" aria-label="Viber"></a></li>
    </ul>
  </div>
</footer>
